.list_entry
{
    width:90%;
    height:20%;
    margin-right:10px;
    border:2px solid #a1a1a1;
    /*padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;*/
    margin: 10%;
    background:#C63D0F;
    border-radius:25px;
    vertical-align:middle;
    margin:4px;
    display:inline-block;
}

.list_field
{
    float:left;
    /*margin-right:5px;*/
    margin: 10%;
    border-radius: 5px;
    border:2px solid #a1a1a1;
    background:#dddddd;
    vertical-align:middle;
}

.border
{
    border: 2px solid black;
    background: solid #FFC675;
    margin: 10%;
}