.list_entry
{
    max-height: 10%;
    width: 90%;
    margin-right:10px;
    border:2px solid #a1a1a1;
    /*padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;*/
    /* margin: 10%; */
    background:#FF8B42;
    border-radius:25px;
    vertical-align:middle;
    margin:4px;
    display:inline-block;
}

.list_field
{
    float:left;
    /*margin-right:5px;*/
    margin: 3%;
    border-radius: 5px;
    border:2px solid #a1a1a1;
    background:#dddddd;
    vertical-align:middle;
}

.border
{
    border: 2px solid black;
    background: solid #FFC675;
    margin: 10%;
}

.edit_button
{
    position:relative;
    width: 10%;
    height: 10%;
    top: 45%;
    bottom: 55%;
    float:right;
}