div.outer
{
	border-collapse:separate;
	border-style:solid;
	border-radius:10px;

	margin:5%;
	padding:2%;
}

div.title 
{
	width:100%;
	overflow:hidden;
	text-align:center;
	padding-bottom: 2%;
}

div.left
{
	float:left;
	margin-left: 2%;
	border-style:solid;
}

th
{
    font-size: 15px;    
}
    
td.owners
{
    background: white;    
}

td.left
{
	padding-left:10px;
}

td.right
{
	padding-right:10px;
}
