div.outer
{
	border-collapse:separate;
	border-style:solid;
	border-radius:10px;

	margin:5%;
	padding:2%;
}

div.title 
{
	width:100%;
	overflow:hidden;
	text-align:center;
	padding-bottom: 2%;
}

div.left
{
	float:left;
	margin-left: 2%;
	border-style:solid;
}

div.right
{
	float:right;
	margin-right: 2%;
	border-style:solid;
}

div.error_style
{
	border-style:solid;
	border-color:#FF6666;
	border-radius:5px;

	background-color:#FFE0E0;
}

div.neutral_style
{
	border-style:solid;
	border-color:#FFFF66;
	border-radius:5px;

	background-color:#FFFFE0;
}

td.left
{
	padding-left:10px;
}

td.right
{
	padding-right:10px;
}

div.pass_style
{
	border-style:solid;
	border-color:#66FF66;
	border-radius:5px;
	padding-right: 5px;
	padding-left: 5px;
	background-color:#E0FFE0;
}