/*#navigation ul {
    text-align: center;
    margin:0px;
}

#navigation ul li {
    display: inline;
}

#navigation a{
    padding-top:.5em;
    padding-bottom: .4em;
    vertical-align:middle;
    text-decoration: none;
    position: relative;
}
#navigation span {
    font-size: .8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .7em;
    padding-bottom: .7em;
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
    color:black;
    margin-left: auto;
    margin-right: auto;
}
#navigation span:hover {
    background:#DDDDD3;
}*/

#lists div
{
    margin-left:   40px;
    margin-right:  40px;
}

p.important
{
    font-weight: bold;
    font-size: 15px;
}

#lists ul
{
    list-style-type: none;        
    margin-left: 0px;
    margin-right: 0px;
}

#lists li
{
    padding-top:    10px;
    padding-bottom: 10px;
    margin-top:     2px;
    margin-bottom:  2px; 
    color:          #385E86;
    font-size:      15px;  
}

#lists li:hover 
{
    background: #C34500;
    color:      #F5F2ED;
    cursor: pointer;    
}

#lists span:hover {
    background:#DDDDD3;
 
}
