<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhml" xml:lang="en" lang="en">

  <head>
    {% load static %}
    <title>Netshed | Network Engineering</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/top-hat.css' %}" />
    <script src="http://oregonstate.edu/osuhomepage/js/js.php?jquery,timers,top-hat" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/ie.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sticky_footer.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
  </head>

  <body style="background:#FFFFFF;">

    <div id="wrap">

      {% include './top_hat.html' %}

      <div id="header">
            <div id="logo">
                <h1>Netshed: &nbsp;MongoDB-Powered Log Searches</h1>
            </div>
      </div>

      <div style="clear:both"></div>

      <div id="main">
        <div class="container">
          <div class="span-27 last">
            <div id="navigation">
              <ul>
                <li><a href="/"><span>Home</span></a><li>
                <li><a href="/dhcp"><span>DHCP</span></a><li>
                <li><a href="/vpn"><span>VPN</span></a><li>
                <li><a href="/cca"><span>CCA</span></a><li>
                <li><a href="/greylist"><span>Greylist</span></a><li>
                <li><a href="/header_reject"><span>Header Reject</span></a><li>
                <li><a href="/aruba"><span>Aruba</span></a><li>
                <li><a href="/named"><span>BIND</span></a><li>
                <!-- <a href="/transport"><span>SMTP File</span></a> -->
                <li><a href="/firewall"><span>Firewall</span></a><li>
                <li><a href="/shodan"><span>Shodan</span></a><li>
                <li><a href="/virtual_search"><span>Email Search</span></a><li>
                <li><a href="/users/logout"><span>Logout</span></a><li>
                </ul>
              </div>
            <br/>
            <hr/>
            
            <div id="navigation"> 
                <ul> 
                    <li><span>hello1</span></li>
                    <li><span>hello2</span></li>
                    <li><span>hello3</span></li>
                    <li><span>hello4</span></li>
                </ul>
            </div>

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
