<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhml" xml:lang="en" lang="en">

  <head>
    {% load static %}
    <title>List Expiration</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/top-hat.css' %}" />
    <script src="http://oregonstate.edu/osuhomepage/js/js.php?jquery,timers,top-hat" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/ie.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sticky_footer.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
    
    <!-- Email lists stuff -->
    <script src="{% static 'js/crsf.js' %}"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/email_list.js' %}"  language="javascript"></script>
    <script src="{% static 'js/email_lists.js' %}" language="javascript"></script>
    <script src="{% static 'js/list_index.js' %}"  language="javascript"></script>
    <script src="{% static 'js/url.js' %}"></script> 
    
    {% block head %}
    {% endblock %}
  </head>

  <body style="background:#FFFFFF;">

    <div id="wrap">

      {% include './top_hat.html' %}

      <div id="header">
            <div id="logo">
                <h1>List Expiration Tool</h1>
            </div>
      </div>

      <div style="clear:both"></div>

      <div id="main">
        <div class="container">
          <div class="span-27 last">            
            <br/>
            <hr/> 

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
