{% extends "base.html" %}

{% block content %}

<h3>DCA Tools</h3>

<div id="paragraph">
    <span>Welcome {{ request.session.username }} to the Network Engineering DCA Tools server! We have provided this site to assist OSU DCAs in diagnosing technical problems.</span><br/><br/>

<span><b>Please Note:</b> Information available on this site may be sensitive in nature and should not be shared with individuals outside the university except by direction of the University Legal office. Also, sharing some information on this site may pose a security risk to the University. In particular, details about network layout and architecture should not be reproduced from this site. In other words, please don't download or print information from this site and leave it somewhere where persons who don't have a business need-to-know might find it.</span><br/><br/>
</div>

<div id="bottom_content">
    <div id="bottom_left">
        <table border="0">
            <tr>
                <td align="center">
                    <h3>Current Tools</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="1" width="100">
                        <tr>
                            <td><a href="/dhcp"><span>DHCP Log Search</span><br/></td>
                        </tr>
                        <tr>
                            <td><a href="/vpn"><span>VPN Log Search</span><br/></td>
                        </tr>
                        <tr>
                            <td><a href="/cca"><span>Clean Access Log Search</span><br/></td>
                        </tr>
                        <tr>
                            <td><a href="/greylist"><span>Greylisting Log/Database Search</span><br/><td>
                        </tr>
                        <tr>
                            <td><a href="/header_reject"><span>Header-Reject Log Search</span><br/>
                        </tr>
                        <tr>
                            <td><a href="/aruba"><span>Aruba Log Search</span><br/></td>
                        </tr>
                        <tr>
                            <td><a href="/named"><span>Bind Zone</span><br/></td>
                        </tr>
                        <tr>
                            <td><a href="/virtualusers"><span>Static @orst.edu Aliases</span><br/></td>
                        </tr>
                        <tr>
                            <td><a href="/transport"><span>SMTP Transport File</span><br/></td>
                        </tr>
                        <tr>
                            <td><a href="/firewall"><span>Information for Firewall Administrators / Firewall Logs</span><br/><td>
                        </tr>
                        <tr>
                            <td><a href="/virtual_search"><span>Virtual User / Lifetime Email / SMTP Search</span><br/></td>
                        </tr>
                   </table>
                </td>
            </tr>
        </table>
    </div>
    <div id="bottom_right">
        <table border="0">
            <tr>
                <td align="center">
                    <h3>Service Information</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="1" width="100%">
                        <tr>
                            <td><b>Documentation</b></td>
                            <td><b>Server Name</b></td>
                        </tr>
                        <tr>
                            <td><a href="http://oregonstate.edu/helpdocs/e-mail/exchange/configuring-email-clients" target="_blank">Exchange</a></td>
                            <td><a href="http://exmail.oregonstate.edu/owa" target="_blank">exmail.oregonstate.edu</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://sharepoint.oregonstate.edu/sharepointfaq/Pages/default.aspx" target="_blank">SharePoint</a></td>
                            <td><a href="http://sharepoint.oregonstate.edu" target="_blank">sharepoint.oregonstate.edu</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://oregonstate.edu/is/services/network-services/data-services/mail-services/campus-mail-relays" target="_blank">Outbound SMTP (servers/devices)</a></td>
                            <td>smtp.oregonstate.edu</td>
                        </tr>
                        <tr>
                            <td><a href="http://oregonstate.edu/is/services/network-services/data-services/mail-services/campus-mail-relays" target="_blank">Outbound SMTP (end-users)</a></td>
                            <td>mail.oregonstate.edu</td>
                        </tr>
                         <tr>
                            <td><a href="http://oregonstate.edu/is/services/network-services/data-services/mail-services/campus-mail-relays" target="_blank">Mail server IPs</a></td>
                            <td>128.193.15.32/28</td>
                        </tr>
 
                        <tr>
                            <td><a href="http://oregonstate.edu/helpdocs/mailman" target="_blank">Mailman Mailing Lists</a></td>
                            <td><a href="http://lists.oregonstate.edu" target="_blank">lists.oregonstate.edu</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://oregonstate.edu/helpdocs/wireless" target="_blank">Wireless Network</a></td>
                            <td>OSU_Access, OSU_Secure, eduroam</td>
                        </tr>
                        <tr>
                            <td><a href="http://oregonstate.edu/helpdocs/vpn-campus-access" target="_blank">VPN</a></td>
                            <td><a href="https://sds.oregonstate.edu" target="_blank">sds.oregonstate.edu</a></td>
                        </tr>
                        <tr>
                            <td><b>VPN Range</b></td>
                            <td>10.197.32.0 - 10.197.63.255</td>
                        </tr>                        
                        <tr>
                            <td><a href="http://oregonstate.edu/is/services/network-services/network-connectivity/dns-dhcp" target="_blank">DNS</a></td>
                            <td>128.193.15.12, 128.193.15.13</td>
                        </tr>
                        <tr>
                            <td><a href="http://oregonstate.edu/is/services/network-services/network-connectivity/dns-dhcp" target="_blank">DHCP</a></td>
                            <td>128.193.4.20, 128.193.0.10</td>
                        </tr>
                        <tr>
                            <td>WINS</td>
                            <td>128.193.132.84, 128.193.132.85</td>
                        </tr>
                        <tr>
                            <td><a href="http://oregonstate.edu/helpdocs/using-osu-proxy-server" target="_blank">Proxy</a></td>
                            <td><a href="http://proxy.oregonstate.edu" target="_blank">proxy.oregonstate.edu</a></td></tr>
                        <tr>
                            <td><a href="http://oregonstate.edu/is/services/network-services/data-services/server-backups" target="_blank">Backups</a></td>
                            <td>nsr1.nws.oregonstate.edu</td>
                        </tr>
                        <tr>
                            <td>Time (NTP)</td>
                            <td>time.oregonstate.edu</td>
                        </tr>
                           <tr><td>Network Svcs Terminal Server</td>
                           <td>nws-term1.nws.oregonstate.edu</td></tr>
                        <tr>
                            <td><a href="http://oregonstate.edu/is/services/network-services/data-services/mail-services/onid-class-groups" target="_blank">ONID Class Groups</a></td>
                            <td><a href="http://lists.oregonstate.edu/classgroups" target="_blank">http://lists.oregonstate.edu/<WBR>classgroups</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="more_content">
    <div id="bottom_left2">
        <table border="0">
            <tr>
                <td align="center">
                    <h3>Wireless network IP ranges</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="1" width="100%">
                        <tr>
                            <td><b>SSID</b></td>
                            <td><b>IP Ranges</b></td>
                        </tr>
                        <tr>
                            <td>OSU_Secure</td>
                            <td>10.162.128.0/21</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>10.162.136.0/21</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>10.162.144.0/21</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>10.162.152.0/21</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>10.162.160.0/21</td>
                        </tr>                        
                        <tr>
                            <td>OSU_Access</td>
                            <td>10.196.8.0/21</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>10.196.16.0/21</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>10.196.24.0/21</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>10.196.32.0/21</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>10.196.40.0/21</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>10.196.56.0/21</td>
                        </tr>                        
                        <tr>
                            <td>eduroam</td>
                            <td>10.214.64.0/21</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
