<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <script src="{% static 'jquery-1.11.0.js' %}"></script>
    <link href="{% static 'calendar/calendar_control.css' %}"
        rel="stylesheet" type="text/css"/>
    <script src="{% static 'calendar/calendar_control.js' %}"
        language="javascript"></script>

    <title> List Management </title>
</head>
<body>
    <!--Calendar Stuff-->
    <table style="width:300px">
        <tr>
            <td> list name </td>
            <td> expiration date </td>
            <!--<td> administrators </td>-->
            <!--<td> active date </td>-->
        </tr>
        <tr>
            <form action="" method="post"> {% csrf_token %}
                <!--<td> <input id="name" type="text" /> </td>-->
                <td> <input id="expire_date" onfocus="showCalendarControl(this);" type="text" /> </td>
                <td> <input id="list_id" type="hidden" value="{{list_id}}"></td>

                <input id="submit" type="submit" value="Save Changes" />
            </form>

            <!--TODO: Turn the below code into a javascript button-->
            <form action="/lists/list_index" method="get">
                <input id="cancel" type="submit" value="Cancel" />
            </form>
        </tr>
    </table>
    {% if invalid_edit %}
        <p><b>Invalid changes:<br> {{error_msg}} </b></p>
    {% endif %}
</body>
</html>