<!DOCTYPE html>
<html>
<head>
    <title> List Management </title>
</head>
<body>
    <table style="width:300px">
        <tr>
            <td> list name </td>
            <td> expiration date </td>
            <!--<td> administrators </td>-->
            <!--<td> active date </td>-->
        </tr>
        <tr>
            <form action="" method="post"> {% csrf_token %}
                <td> <input id="name" type="text" /> </td>
                <td> <input id="expire_date" type="text" /> </td>
                <!--<td> <input id="admins" type="text" readonly /> </td>-->
                <!--<td> <input id="active_date" type="text" readonly /> </td>-->

                <input id="submit" type="submit" value="Save Changes" />
                <!--<input id="cancel" type="button" value="Cancel" />-->
            </form>

            <!--TODO: Turn the below code into a javascript button-->
            <form action="/lists/list_index" method="get">
                <input id="cancel" type="submit" value="Cancel" />
            </form>
        </tr>
    </table>
    {% if invalid_edit %}
        <p><b>Invalid changes:<br> {{error_msg}} </b></p>
    {% endif %}
</body>
</html>