<!DOCTYPE html>
<html>
<head>

</head>
<body>
    {% for listEntry in lists %}
    <div class="list_entry">

        <div class="list_field">
            <p>List Name:</p>
            <p>{{listEntry.name</p>
        </div>

        <div class="list_field">
            <p>List Expiration Date:</p>
            <p>{{listEntry.expire_date}}</p>
        </div>
    </div>
    {% endfor %}

    <form action="/logout/" method="post"> {% csrf_token %}
        <input name="logout" type="submit" value="logout" />
    </form>
</body>
</html>