<html>
<head>
</head>
<body>
    {% if lists %}
        <table style="width:300px">
            <tr>
                <td> Mailing List Name</td>
                <td> Mailing List Creation Date</td>
            </tr>

            {% for listEntry in lists %}
                <tr>
                    <td>{{ listEntry.name }}</td>
                    <td>{{ listEntry.create_date }}</td>
                    <td>
                        <form action="/list_edit" method="post">
                            <input id="submit" type="submit" value="Edit" />
                            <comment>
                                problem:  need a way to supply extra data (listEntry.name, listEntry.create_date) to the form
                                possible solution: create hidden fields for the necessary data.
                            </comment>
                        </form>
                    </td>
                </tr>
            {%endfor%}

        </table>
    {% else %}
        <p> You are not an administrator of any lists</p>
    {% endif %}
</body>
</html>