<html>
<head>
</head>
<body>
    {% if lists %}
        <table style="width:300px">
            <tr>
                <td> Mailing List Name</td>
                <td> Mailing List Creation Date</td>
            </tr>

            {% for listEntry in lists %}
                <tr>
                    <td>{{ listEntry.name }}</td>
                    <td>{{ listEntry.create_date }}</td>
                    <td><input id="submit" type="button" value="Edit" /></td>
                </tr>
            {%endfor%}

        </table>
    {% else %}
        <p> You are not an administrator of any lists</p>
    {% endif %}
</body>
</html>