<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
	    <link href="{% static 'css/list_transition.css' %}"
	        rel="stylesheet" type="text/css"/>
	</head>
	
	<body>

		{% for list_status in statuses %}

		<div class="outer">
			{{list_status.name}}

			<div name="owners" class="left">
				{% for owner in list_status.owners %}
					{{owner.email}} Status: 
					<br>
				{% endfor %}
			</div>

			<div name="statuses" class="right">
				{% for owner in list_status.owners %}
					{% if owner.status == "bounced" %}
					
					<div class="error_style">
						Email failed to send (bounced)/Invalid email address
					</div>
						
					{% endif %}

					{% if owner.status == "no_response" %}
					
						<div class="neutral_style">
							No response
						</div>
					
					{% else %}

						<div class="pass_style">
							Owner		
						</div>

					{% endif %}
					<br>
				{% endfor %}
			</div>
		</div>
		{% endfor %}

	</body>
</html>