{% extends "base.html" %}

{% block head %}

{% load static %}
<link href="{% static 'css/no_onid.css' %}" rel="stylesheet" type="text/css"/>


{% endblock %}

{% block content %}
<table align="center">
    <tr>
        <th> List Owner Email  </th>
        <th> List Owner Status </th>
    </tr>

    {% for owner in list_status.owners %}
    <tr>
        <td class="owners"> {{owner.email}} </td>  

        <td class="owners">
            {% if owner.status == "bounced" %}
        
                <div name="status" class="error_style">
                    Email failed to send (bounced)/Invalid email address
                </div>
                
            {% endif %}

            {% if owner.status == "no_response" %}
            
                <div name="status" class="neutral_style">
                    No response
                </div>
            
            {% else %}
                {% if owner.is_onid == True %}
                    <div name="status" 
                         class="pass_style" 
                         title="List owners with onid accounts are automatically given control of the expiration of lists.">
                        Claimed ownership		
                    </div>
                {% else %}
                    <div name="status" 
                         class="pass_style"
                         >
                        Claimed ownership		
                    </div>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% endfor %} 
</table>

<button id="return">Go Back</button>
<button id="delete">Delete this list</button>

<script>
$(function()
{
    $("div[name=status_tt]").tooltip();
    $("button[id=return]").click(function()
    {
        window.location.replace("{% url 'list_app:onid_transition' %}?id=".concat(get_url_parameter('id')));    
    });

    $("button[id=delete]").on("click", function()
    {
        alert("hello!");
        var link =  "{% url 'list_app:no_onid' %}";
        var action = "?action=delete&id=".concat(get_url_parameter('id')).concat(
                     "&list_name=").concat(get_url_parameter('list_name'));

        window.location.replace(link.concat(action));
    });
});
</script>

{% endblock %}
