{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lists.css' %}" />
{% endblock %}

{% block content %}

{% if not authenticated %}
    <div id="lists">
        <div>
            <p class="important"> You currently manage the following lists: </p>

            <ul>
                <li title="click to see the status of List1"> List1 </li>
                <li title="click to see the status of List2"> List2 </li>
                <li title="click to see the status of List3"> List3 </li>
            </ul>

            <ul>
                {% for list in lists %}
                    <li title="click to see the status of {{ list.name }}"> {{ list.name }} </li>
                {% endfor %}
        </div> 
        <div>
            <button> Authenticate with ONID </button>
        </div>
    </div> 
{% else %}
    <p><b>You have been successfully authenticated through ONID</b></p>
{% endif %}

{% if error %}
    <div name="error">
        <b>Error:{{error}}</b>
    </div>
{% endif %}

<button name="logout_button">
    Logout
</button>

<script>
    $(function()
    {
        $('button[name="register_button"]').click(function()
        {
            var link_str = "{% url 'cas_login' %}?next={{request.path}}?id=".concat(get_url_parameter('id'));
            console.log(link_str);
            window.location.replace(link_str);
        });

        $('button[name="logout_button"]').click(function()
        {
            window.location.replace("{% url 'cas_logout' %}");
        });

        $('button[name="no_onid_button"]').click(function()
        {
            window.location.replace("{% url 'list_app:no_onid' %}?id=".concat(get_url_parameter('id')));
        });
    });
</script>

{% endblock %}
