{% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/test_index.css' %}" />
{% endblock %}

{% block content %}

<div id="lists">
    <div>
        <p class="important"> You currently manage the following lists: </p>

        <ul>
            <li title="click to see the status of List1"> List1 </li>
            <li title="click to see the status of List2"> List2 </li>
            <li title="click to see the status of List3"> List3 </li>
        </ul>
    </div> 
    <div>
        <button> Authenticate with ONID </button>
    </div>
</div>


<script>
$(function()
{
   $(document).tooltip();
   $("div[id=lists] ul li").on('click', function()
   {
        alert("hello world!");
   });     
});
</script>

{% endblock %}
